@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  height: 100vh;
  color: black;
  background-color: #fefefe;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  padding: 4px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 95vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

ul{
  list-style: outside;
}

img{
  max-width: 100%;
}

#editor{
  border: #222222 1px solid;
  margin-left: 0.8px;
  margin-bottom: 0.8px;
}

.previewer-light{
  font-family: 'PT Sans', sans-serif;
  resize: none;
  padding: 0 1.2rem;
}

.previewer-dark{
  font-family: 'PT Sans', sans-serif;
  resize: none;
  padding: 0 1.2rem;
  background-color: #222222;
  color: white;
}

.filename-light{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1885F2;
  font-size: larger;
  padding: 2px 4px;
  width: 65%;
}

.filename-dark{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1885F2;
  background-color: #282C34;
  color: white;
  font-size: larger;
  padding: 2px 4px;
  width: 65%;
}

.nav-btn{
  background-color: #1885F2;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  margin: 0 3px;
  padding: 4px; 
}

.nav-btn:hover{
  background-color: #1577d8;
  cursor: pointer;
}

.nav-light{
  background-color: #fafafa;
  color: black;
}

.nav-dark{
  background-color: #222222;
  color: white;
}

.btn-theme{
  border:none;
  background-color: transparent;
}

.btn-theme:hover{
  cursor: pointer;
}

.btn-theme > i {
  font-size: 20px;
  margin: 2px 2px;
}

.btn-light{
  color: black;
}

.btn-dark{
  color: white;
}

.button-section{
  display: inline-flex;
  align-items: center;
}